@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dynalight&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playwrite+PL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dynalight: 'Dynalight', serif;
    --playwrite: 'Playwrite PL', serif;
    --baskerville: 'Libre Baskerville', serif;
    ---comic: 'Comic Neue', serif;
    --poppins: 'Poppins', sans-serif;
    --padding-general: 15px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

/* Fuentes */
.poppins {
  font-family: var(--poppins);
}

.trending {
  font-family: var(---comic);
  font-weight: lighter;
  padding: 15px 15px;
}

/* Cabecera */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* estilo bonito */
    color: white;
    /* border-radius: 12px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    overflow: hidden;
    transition: color 0.3s ease;
}
.nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffcc00; /* color del "efecto" */
    transition: width 0.3s ease;
}
.nav-links a:hover::before {
    width: 100%;
}
.nav-links a:hover {
    color: #ffcc00; /* mismo color que la línea o el que quieras */
}
.titulo {
    width: 100%;
    padding: var(--padding-general);
}
.navbar h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--playwrite);
    font-weight: lighter;
}

/* Buscador */
.buscador {
    width: 100%;
    background-color: rgba(173, 216, 230, 0.219);
    backdrop-filter:  blur(12px) brightness(110%);
    padding: var(--padding-general);
}
.buscador input {
    background-color: #b2b2b2;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    width: 250px;
    height: 35px;
    outline: none;
}
.buscador input::placeholder {
  color: #252627;
}

.back-trending {
    margin-top: 8px;
    padding: 5px 0;
    position: relative;
    width: 100%;
    height: 200px; /* puedes ajustar según tu imagen */
    overflow: hidden;
    /* border-radius: 12px; */
}
.back-trending img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene bien la imagen */
    filter: brightness(0.2); /* oscurece para que el texto resalte */
    box-shadow: 0 0 20px rgba(19, 18, 18, 0.365);

}
.back-trending .trending {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(156, 142, 14);
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: var(--baskerville);
}

/* Resultados */
#results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
/* Contenedor de categoria */
.category {
  flex: 1;
}

.category h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.results-container {
  /* background-color: lightblue; */
  padding: 7px 7px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1rem;
}
/* Películas */
#movies-container {
  background: linear-gradient(270deg, #e0f7fa32, #b2ebf238, #e0f7fa32);
  background-size: 600% 600%;
  animation: gradientAnimation 8s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
#series-container {
  background: linear-gradient(270deg, #e4fae02f, #e5b2f239, #fae0e03f);
  background-size: 600% 600%;
  animation: gradientAnimation 8s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

/* Tarjetas */
.movie-card {
  cursor: pointer;
  /* position: relative; */
  width: 100%;
  text-align: center;
}
.movie-card img {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.nombre-pelicula {
    color: rgb(220, 220, 220);
    font-family: var(--baskerville);
    font-size: 11px;
    text-align: start;
    padding: 0 5px;
}
.title-categoria {
    font-family: var(--baskerville);
    padding: 0 5px;
}
.entrega-pelicula {
  font-size: 10px;
  font-family: var(--poppins);
  text-align: start;
  padding-top: 5px;
  padding-left: 5px;
}
.fecha {
  font-size: 10px;
  font-family: var(--poppins);
  text-align: start;
  padding: 0 5px; 
  color: #b2b2b2;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6); /* Difuminado */
  z-index: 1000;
}
.modal.hidden {
  display: none;
}
.modal-content {
    background: #1d1c1c;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: fadeInScale 0.3s ease;
    transition: all 0.3s ease;
}
.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
#close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
#modal-more-info-btn {
  cursor: pointer;
  border: none;
  margin-top: 5px;
  padding: 5px 5px;
  background-color: rgb(167, 17, 17);
  border-radius: 5px;
  font-size: 11px;
  color: rgb(224, 217, 217);
}

/* Clases Modal */
.title-movie {
  font-family: var(--poppins);
}
.sinopsis {
  font-size: 12px;
  font-family: var(---comic);
}

/* Recomendadas */
.recomendados {
  margin-top: 40px;
  padding: 0 20px;
}
.titulo-recomendados {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 20px;
}
.galeria-recomendados {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}
.card-recomendado {
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
}
.card-recomendado img {
  width: 100%;
  border-radius: 10px;
  height: 210px;
  object-fit: cover;
}
.card-recomendado p {
  margin-top: 8px;
  color: #ccc;
  font-size: 0.9rem;
}
.card-recomendado:hover {
  transform: scale(1.05);
}


/* Responsivo: tablet o más grande, se ven lado a lado */
@media (min-width: 768px) {
  #results {
    flex-direction: row;
  }

  .back-trending .trending {
    font-size: 4rem;
  }
}

/* Animaciones */
/* Keyframes para la animación del fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



