@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playwrite+PL:wght@100..400&display=swap');

:root {
    --dynalight: 'Dynalight', serif;
    --playwrite: 'Playwrite PL', serif;
    --baskerville: 'Libre Baskerville', serif;
    --padding-general: 15px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

/* Cabecera */
.titulo {
    width: 100%;
    padding: var(--padding-general);
}
.titulo h1 {
    text-align: center;
    font-size: 14px;
    font-family: var(--playwrite);
    font-weight: lighter;
}

/* Buscador */
.buscador {
    width: 100%;
    background-color: rgba(173, 216, 230, 0.219);
    backdrop-filter:  blur(12px) brightness(110%);
    padding: var(--padding-general);
}
.buscador input {
    background-color: #d6d6d6;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
}

/* Resultados */
#results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
/* Contenedor de categoria */
.category {
  flex: 1;
}

.category h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.results-container {
  /* background-color: lightblue; */
  padding: 7px 7px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1rem;
}
/* Películas */
#movies-container {
  background: linear-gradient(270deg, #e0f7fa32, #b2ebf238, #e0f7fa32);
  background-size: 600% 600%;
  animation: gradientAnimation 8s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
#series-container {
  background: linear-gradient(270deg, #e4fae02f, #e5b2f239, #fae0e03f);
  background-size: 600% 600%;
  animation: gradientAnimation 8s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

/* Tarjetas */
.movie-card {
  /* position: relative; */
  width: 100%;
  text-align: center;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}
.nombre-pelicula {
    color: rgb(220, 220, 220);
    font-family: var(--baskerville);
    font-size: 11px;
    text-align: start;
    padding: 0 5px;
}
.title-categoria {
    font-family: var(--baskerville);
    padding: 0 5px;
}

#hover-modal {
  position: absolute;
  z-index: 999;
  max-width: 270px;
  background-color: rgb(36, 35, 35);
  border: 1px solid #323131;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 10px;
  display: none; /* usamos display para ocultarlo */
}
#hover-modal img {
  width: 100%;
  border-radius: 5px;
}
#hover-modal button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ff4757;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
#hover-modal h4 {
  margin: 8px 0 4px;
  font-size: 16px;
  font-family: var(--playwrite);
  font-weight: lighter;
}
.hidden {
  display: none;
}
#sinopsis {
  color: rgb(190, 190, 190);
  font-size: 9px;
  font-family: var(--baskerville);
}

/* Responsivo: tablet o más grande, se ven lado a lado */
@media (min-width: 768px) {
  #results {
    flex-direction: row;
  }
}

/* Animaciones */
/* Keyframes para la animación del fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




